<%= render 'shared/header'%>
<div class="wrapper">
    <div class="name">
      〇〇さんってどんなひと？
    </div>
    <%#紹介文一覧表示%>
    <%#@introduction.each do |intro|%>
      <div>
      
      </div>
    <%# end%>

    <div class="introduction-content">
        １人目の紹介者になりましょう！！
    </div>
    <div class='write-btn'>
      <span class='write-btn-text'>紹介文を書く</span>
      <a href=  "/introductions/new">
        <i class="fas fa-pencil-alt fa-4x"></i>
      </a>
    </div>
</div>