<%= render 'shared/header'%>
<div class="wrapper">
    <div class="name">
      <%= @user.nickname %>さんってどんなひと？
    </div>
    <%#紹介文一覧表示%>
    <%#@introduction.each do |intro|%>
      <div>
      
      </div>
    <%# end%>

    <div class="introduction-content">
        １人目の紹介者になりましょう！！
    </div>
    <% unless @user==current_user%>
      <div class='write-btn'>
        <%= link_to '紹介文を書く', new_board_introduction_path(board_id: @board[0][:id]),class: 'write-btn-link' %>
        <i class="fas fa-pencil-alt fa-4x">
        </i>
      </div>
    <% end %>

</div>