.wrapper{
  background-color:#fc848c;
  color:#FCE3E5;
  height:calc(100% - 60px);
  min-height: 100vh;
}
.slogan-wrapper{
  font-size:52px;
  margin-bottom:40px;
}
.app-title{
  font-family: 'Corben', cursive;
}
.slogan{
  font-family: "M PLUS 1p";
  font-weight:bold;
  margin-left: 20%;
}
.second{
  
  padding-left: 15%;
}

.how-to-wrapper{
  margin-top:30px;
  font-family: "M PLUS 1p";
  font-weight: bold;
}
.center-sentence{
  text-align: center;
  font-family: "Nico Moji";
}
.how-to{
  font-size: 36px;
  display:flex;
  flex-direction: column;

}
.how-to-list{
  width:50%;
  text-align: center;
  border: 3px solid #fce3e5;
  padding:5px;
  margin-left:25%;
  margin-top:5px;
  border-radius: 5px;
}

.mark{
  margin-left: 49%;
}
.sells-wrapper{
  margin-top:30px;
}
.sells-point{
  font-family: "M PLUS 1p";
  font-size:28px;
  text-align: center;
}
.sells-icon{
  width:36px;
  height:36px;
}

.start{
  font-size:48px;
  margin-top:40px;
  padding-bottom:60px;
  text-align:center;
  font-family: "Nico Moji", "M PLUS 1p";

}
.start h3{
  padding-bottom: 20px;
}
.start-button{
  padding:10px;
  text-shadow: -1px -1px 1px #4b4343;
  border-bottom:5px solid #8c67c4;
  border-right:4px solid #8c67c4;
  text-decoration: none;
  background-color: #b684ff;
  color: #fce3e5;
  border-radius: 25px;
  position: relative;
}
.start-button:hover{
  border:0px;
  top:5px;
}
